<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Meus pokemons</title>
    </head>
    <body>
        <header>
            <span>PokeAPI</span>                        
            <div>
                <img 
                    src="https://avatars.githubusercontent.com/u/22751959?s=460&u=71cb447138bba0ee8af69ac48e2bd379ffcd3fe4&v=4" 
                    alt="Foto"
                    width="300px"
                />
                <span>Minha conta</span>
            </div>
        </header>              
    </body>
</html>