.titulo {
    font-size: 22px;
}

header > div > img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;
}

#pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: 10px;
}

.styled-input {
    width: 200px; 
    border-radius: 24px; 
    border: 1px solid #c5c7cc; 
    padding: 5px 8px;
    outline: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    align-items: center;
}

.pokemon > strong {
    margin-bottom: 10px;
}

.lista {
    display: flex;
    flex-direction: row;
}

